<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/page.css">
    <script src="/js/tailwindcss.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style>
.result-item {
  position: relative;
}
.thumbnail {
  position: relative;
  display: inline-block;
}
.video-duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 12px;
}
</style>
</head>
<body class="bg-gray-900 text-white">
    <div class="container mx-auto p-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
            <% res.results.forEach(video => { %>
              <% if (video.type.endsWith("Video")) { %>
                <div class="result-item w-auto bg-gray-800 p-4 rounded">
                    <a href="/wkt/watch/<%= video.id %>" class="thumbnail" target="_top">
                        <img loading="lazy" src="/wkt/back/vi/<%= video.id %>/mqdefault.jpg" alt="<%= video.title.text %>" class="w-full h-auto rounded">
                        <span class="video-duration"><%= video.duration.text %></span>
                    </a>
                    <div class="mt-2 flex items-center">
                        <a href="/wkt/c/<%= video.author.id %>" class="flex items-center" target="_top">
                            <img src="/wkt/back/yt3<%- (new URL(video.author.thumbnails[0].url)).pathname %>" alt="アイコン" class="w-8 h-8 rounded-full mr-2">
                            <p class="text-sm text-gray-400"><%= video.author.name %></p>
                        </a>
                    </div>
                    <p class="text-lg font-bold"><%= video.title.text %></p>
                    <p class="text-xs text-gray-500"><%= video.view_count?.text || video.short_view_count?.text %> - <%= video.published.text %></p>
                </div>
              <% } else if (video.type.endsWith("Playlist")) { %>
                <div class="bg-gray-600 p-4 rounded">
                  <a href="/wkt/p/<%= video.id %>" target="_top">
                    <img src="/vi/<%= video?.endpoint?.payload?.videoId || video.first_videos[0]?.id %>/mqdefault.jpg" alt="<%= video.title.text %>" class="w-full h-auto rounded">
                  </a>
                    <div class="mt-2">
                        <p class="text-sm text-gray-400"><a href="/wkt/u/<%= video.author.id %>"><%= video.author.name %></a></p>
                        <p class="text-lg font-bold">プレイリスト(<%= video.video_count?.text %>本以上の動画)</p>
                    </div>
                </div>
              <% } else if (video.type.endsWith("Channel")) { %>
                <div class="bg-gray-600 p-4 rounded">
                  <a href="/wkt/c/<%= video.author.id %>" target="_top">
                    <img src="<%= video.author.thumbnails[0].url %>" alt="<%= video.author.name %>" class="w-full h-auto rounded">
                  </a>
                    <div class="mt-2">
                        <p class="text-lg font-bold"><%= video.author.name %></p>
                        <p class="text-sm text-gray-400"><%= video.description_snippet?.text %></p>
                        <p class="text-xs text-gray-600"><%= video.subscriber_count?.text %> • <%= video.videos?.text || video.video_count?.text %></p>
                    </div>
                </div>
              <% } %>
            <% }); %>
        </div>
      <div class="flex justify-center mt-10 mb-6">
    <a class="px-6 py-3 bg-blue-600 text-white text-lg font-semibold rounded-full shadow-md hover:bg-blue-700 transition"
       href="/wkt/ss?q=<%= query %>&p=<%= page+1 %>">
      もっと読み込む
    </a>
</div>
    </div>
<script>
window.addEventListener("load", function() {
  const query = '<%= query %>';
  if (query) {
      updateSearchHistory(query);
  }
});
  
function updateSearchHistory(query) {
    let history = JSON.parse(localStorage.getItem('searchHistory')) || [];
    history = history.filter(item => item !== query);
    history.unshift(query);
    if (history.length > 16) {
        history = history.slice(0, 16);
   }
   localStorage.setItem('searchHistory', JSON.stringify(history));
}
</script>
</body>
</html>
